alternating pulse Big timer
[{"id":"3e802908.285a46","type":"mqtt-broker","z":"210ef3c2.47554c","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"2aac8156.20bbce","type":"bigtimer","z":"210ef3c2.47554c","outtopic":"pump1","outpayload1":"1","outpayload2":"0","name":"Pump1","lat":"28.56899","lon":"-80.8028","start":"sunrise","end":"sunset","starttime":"420","endtime":"10010","duskoff":"0","dawnoff":"0","outtext1":"","outtext2":"","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"repeat":true,"atstart":true,"x":465,"y":79.5,"wires":[[],["49d83d51.71cde4","c790d37e.d32ac"],[]]},{"id":"70418569.e8964c","type":"bigtimer","z":"210ef3c2.47554c","outtopic":"pump2","outpayload1":"1","outpayload2":"0","name":"Pump2","lat":"28.56899","lon":"-80.8028","start":"sunrise","end":"sunset","starttime":"6000","endtime":"1435","duskoff":"0","dawnoff":"0","outtext1":"","outtext2":"","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"repeat":false,"atstart":true,"x":468,"y":157.5,"wires":[[],["e2b57a6d.2fef18","c790d37e.d32ac"],[]]},{"id":"63a7ed51.da49f4","type":"inject","z":"210ef3c2.47554c","name":"","topic":"pump1","payload":"1","payloadType":"str","repeat":"10","crontab":"","once":true,"x":111,"y":81,"wires":[["2aac8156.20bbce","2931e138.53a74e"]]},{"id":"49d83d51.71cde4","type":"mqtt out","z":"210ef3c2.47554c","name":"pump1","topic":"pumpon","qos":"","retain":"","broker":"3e802908.285a46","x":749,"y":85,"wires":[]},{"id":"ce809511.696de8","type":"inject","z":"210ef3c2.47554c","name":"","topic":"pump1","payload":"0","payloadType":"str","repeat":"10","crontab":"","once":false,"x":110,"y":155,"wires":[["70418569.e8964c","ec96cac.d568538"]]},{"id":"c790d37e.d32ac","type":"debug","z":"210ef3c2.47554c","name":"","active":true,"console":"false","complete":"payload","x":755,"y":163,"wires":[]},{"id":"2931e138.53a74e","type":"delay","z":"210ef3c2.47554c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":314,"y":186,"wires":[["70418569.e8964c"]]},{"id":"ec96cac.d568538","type":"delay","z":"210ef3c2.47554c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":312,"y":111,"wires":[["2aac8156.20bbce"]]},{"id":"e2b57a6d.2fef18","type":"mqtt out","z":"210ef3c2.47554c","name":"pump2","topic":"pump2","qos":"","retain":"","broker":"3e802908.285a46","x":758,"y":224,"wires":[]}]
