node red flow relay
[{"id":"71fac327.70aed4","type":"mqtt-broker","z":"70c71e3b.0d0b28","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"92f3fbb2.182c2","type":"inject","z":"70c71e3b.0d0b28","name":"","topic":"A","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":82.5,"y":387.5,"wires":[["57e43f9d.83345","130646af.932da1"]]},{"id":"57e43f9d.83345","type":"mqtt out","z":"70c71e3b.0d0b28","name":"relayA","topic":"A","qos":"","retain":"","broker":"71fac327.70aed4","x":526.25,"y":408.75,"wires":[]},{"id":"6bc811e5.d6cd68","type":"debug","z":"70c71e3b.0d0b28","name":"","active":true,"console":"false","complete":"payload","x":270,"y":193.75,"wires":[]},{"id":"6e8e6a7a.bcac5c","type":"inject","z":"70c71e3b.0d0b28","name":"","topic":"A","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":82.5,"y":418.75,"wires":[["57e43f9d.83345","130646af.932da1"]]},{"id":"8340d371.cf3148","type":"inject","z":"70c71e3b.0d0b28","name":"","topic":"B","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":83.75,"y":450,"wires":[["f1325a1e.3584c"]]},{"id":"23fa7baf.83f35c","type":"inject","z":"70c71e3b.0d0b28","name":"","topic":"B","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":83.75,"y":481.25,"wires":[["f1325a1e.3584c"]]},{"id":"281fed58.058b42","type":"inject","z":"70c71e3b.0d0b28","name":"","topic":"C","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":85,"y":513.75,"wires":[["8b7ad951.f692a8"]]},{"id":"db1f1e01.e0b21","type":"inject","z":"70c71e3b.0d0b28","name":"","topic":"C","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":83.75,"y":546.25,"wires":[["8b7ad951.f692a8"]]},{"id":"50f28f07.ff84d8","type":"inject","z":"70c71e3b.0d0b28","name":"","topic":"D","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":83.75,"y":578.75,"wires":[["890527cc.87f6c8"]]},{"id":"738bfab2.526644","type":"inject","z":"70c71e3b.0d0b28","name":"","topic":"D","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":85,"y":607.5,"wires":[["890527cc.87f6c8"]]},{"id":"b7a6eac0.082a28","type":"mqtt in","z":"70c71e3b.0d0b28","name":"","topic":"A","broker":"71fac327.70aed4","x":68.75,"y":130,"wires":[["6bc811e5.d6cd68"]]},{"id":"477a695e.fd4ac","type":"mqtt in","z":"70c71e3b.0d0b28","name":"","topic":"outTopictemp","broker":"71fac327.70aed4","x":81.25,"y":32.5,"wires":[["f620053e.285c78"]]},{"id":"f620053e.285c78","type":"debug","z":"70c71e3b.0d0b28","name":"","active":true,"console":"false","complete":"payload","x":262.5,"y":31.25,"wires":[]},{"id":"ff952918.53a718","type":"mqtt in","z":"70c71e3b.0d0b28","name":"","topic":"outTopic","broker":"71fac327.70aed4","x":76.25,"y":78.75,"wires":[["f620053e.285c78"]]},{"id":"69855091.edacb8","type":"mqtt in","z":"70c71e3b.0d0b28","name":"","topic":"B","broker":"71fac327.70aed4","x":67.5,"y":177.5,"wires":[["6bc811e5.d6cd68"]]},{"id":"14ee4704.f3f569","type":"mqtt in","z":"70c71e3b.0d0b28","name":"","topic":"C","broker":"71fac327.70aed4","x":72.5,"y":223.75,"wires":[["6bc811e5.d6cd68"]]},{"id":"74976c6c.00c06c","type":"mqtt in","z":"70c71e3b.0d0b28","name":"","topic":"D","broker":"71fac327.70aed4","x":71.25,"y":271.25,"wires":[["6bc811e5.d6cd68"]]},{"id":"f1325a1e.3584c","type":"mqtt out","z":"70c71e3b.0d0b28","name":"relayB","topic":"B","qos":"","retain":"","broker":"71fac327.70aed4","x":447.5,"y":490,"wires":[]},{"id":"8b7ad951.f692a8","type":"mqtt out","z":"70c71e3b.0d0b28","name":"relayC","topic":"C","qos":"","retain":"","broker":"71fac327.70aed4","x":445,"y":543.75,"wires":[]},{"id":"890527cc.87f6c8","type":"mqtt out","z":"70c71e3b.0d0b28","name":"relayD","topic":"D","qos":"","retain":"","broker":"71fac327.70aed4","x":446.25,"y":596.25,"wires":[]},{"id":"130646af.932da1","type":"bigtimer","z":"70c71e3b.0d0b28","outtopic":"A","outpayload1":"1","outpayload2":"0","name":"mangrove light \"A\"","lat":"28.56919","lon":"-80.80286","start":"sunrise","end":"sunset","starttime":"5000","endtime":"6000","duskoff":"0","dawnoff":"0","outtext1":"","outtext2":"","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"repeat":true,"atstart":true,"x":290,"y":356.875,"wires":[["7e5da9fc.7e6da8"],["3c437d92.f3940a","57e43f9d.83345"],["babc3b03.ab418"]]},{"id":"7e5da9fc.7e6da8","type":"debug","z":"70c71e3b.0d0b28","name":"","active":false,"console":"false","complete":"true","x":523.75,"y":308.75,"wires":[]},{"id":"3c437d92.f3940a","type":"debug","z":"70c71e3b.0d0b28","name":"","active":true,"console":"false","complete":"false","x":545,"y":341.25,"wires":[]},{"id":"babc3b03.ab418","type":"debug","z":"70c71e3b.0d0b28","name":"","active":false,"console":"false","complete":"true","x":525,"y":372.5,"wires":[]},{"id":"a9b5a7de.aa848","type":"inject","z":"70c71e3b.0d0b28","name":"","topic":"A","payload":"default","payloadType":"str","repeat":"","crontab":"","once":true,"x":92.5,"y":357.5,"wires":[["130646af.932da1"]]}]
